@model IEnumerable<Patient>
<div class="container">
    <h1 class="centered-element">Liste Patients</h1>
</div>
<div class="form-group">
</div>


@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Num_secu</th>
                <th>Modifier</th>
                <th>Ajouter</th>
                <th>Supprimer</th>
                <th>Détails</th>
                <th>Ordonnance</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var Patient in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => Patient.Nom_p)</td>
                    <td>@Html.DisplayFor(m => Patient.Prenom_p)</td>
                    <td>@Html.DisplayFor(m => Patient.Sexe_p)</td>
                    <td>@Html.DisplayFor(m => Patient.Num_secu)</td>
                    <TD>@Html.ActionLink("Modifier", "Edit", new { id = @Patient.PatientId })</TD>
                    <TD>@Html.ActionLink("Ajouter", "Add", new { id = @Patient.PatientId })</TD>
                    <TD><a asp-action="Delete" asp-route-id="@Patient.PatientId"> Supprimer</a> </TD>
                    <TD>@Html.ActionLink("Détails", "Details", new { id = @Patient.PatientId })</TD>
                    <TD>@Html.ActionLink("Ordonnance", "", new { id = @Patient.PatientId })</TD>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Il n'y a pas de patient</p>
}

    <a asp-action="Index" asp-controller="Dashboard" class="btn btn-secondary">Retour</a>


<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>